RewriteEngine On

# Redirect root to the deployed subfolder entrypoint.
RewriteRule ^$ /live/index.html [L]

<If " %{ENV:G1_RUNTIME} == 'static' ">
	<If " -d %{REQUEST_FILENAME} || %{REQUEST_FILENAME} =~ /.*\.php$/ ">
		Require all denied
	</If>
	<If " ! -f %{REQUEST_FILENAME} ">
		<IfModule mod_rewrite.c>
			RewriteRule .* - [R=404,L]
		</IfModule>
	</If>
</If>
